*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

.navbar{
    background-color: black;
    padding: 20px 0;
}

.navbar .container .navbar_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container .navbar_box .navbar_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.navbar .container .navbar_box .navbar_list .navbar_item p{
    color: white;
}

.navbar_box h3{
    color: white;
}

.navbar .container .navbar_box .navbar_list .navbar_item2 button{
    padding: 10px 20px;
    border-radius: 10px;
}

.studio{
    background-image: url('./IMAGE\ \(82\).png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    padding-bottom: 150px;

}

.studio .container .studio_box{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-top: 400px;
}

.studio .container .studio_box h5,h2,p{
    color: white;
    text-align: center;
    padding-top: 20px;
}

.what{
  background-color: black;

}

.what .container .what_text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -120px;
    margin-bottom: 30px;

}

.what .container .what_text h3,p{
    color: white;
}

.what .container .what_box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right:auto ;
    padding-bottom: 40px;
}

.what .container .what_box img{
    width: 550px;
    height: 650px;
}

.what .container .what_box .small_box1{
    position: absolute;
    width: 350px;
    top: 70%;
    left: 3%;
}

.what .container .what_box .small_box1 h5, .what_text{
    color: white;
}

.what .container .what_box .small_box1 button{
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 25px;
}

.what .container .what_box .small_box2 button{
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 25px;
}

.what .container .what_box img{
    width: 550px;
    height: 650px;
}

.what .container .what_box .small_box2{
    position: absolute;
    width: 350px;
    top: 70%;
    left: 57%;
}

.what .container .what_box .small_box2 h5, .what_text{
    color: white;
}

.mount{
    background-image: url('./IMAGE\ \(87\).png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

.mount .container .mount_text{
    margin-left: 800px;
    padding-top: 200px;
    width: 280px;

}

.mount .container .mount_text .mount_h,.mount_p{
    color: #c0c0c0;
    margin: 0;
    padding: 0;
}

.mount_list{
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 900px;
    padding-top: 40px;
    margin-top: 100px;

}

.mount_list .mount_item{
    width: 50px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.mount_list .mount_item img{
    margin-top: 25px;
}

.the{
    background-color: black;
    background-size: 100%;
}

.the .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.the .container img{
    width: 550px;
}

.the .container .the_text{
    width: 500px;
}

.the .container .the_text p{
    width: 400px;
}

.the .container .the_text h5,h3{
    color: #c0c0c0;
}

.the .container .the_text button{
    padding:10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.urna{
    background-image: url('./IMAGE\ \(89\).png');
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.urna .container .urna_text{
    width: 350px;
    padding-top: 240px;
    margin-left: 750px;
    padding-bottom: 100px;
}
.past{
    background-color: black;
    background-size: 100%;
}

.past .container h2,p{
    text-align: center;
}

.past .container .past_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 50px;
}

.fall{
    background-image: url(./IMAGE\ \(87\).png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.fall .container .fall_box{
  width: 300px;
  padding-top: 250px;
  margin-left:750px;
  padding-bottom: 100px;
}

.need{
    background-color: black;
    background-size: 100%;
}

.need .container .need_box1 {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.need .container .need_box1 button{
    margin-left: 200px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.need .container .need_box2{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 1000px;
    margin-top: 150px;
    padding-bottom: 60px;
}

.need .container .need_box2 .need_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.need_list .need_item h4{
    color: white;
}

.need_list .need_item2 h4{
    color: white;
}

.need_list .need_item2 {
    margin-top: 80px;
}

.need_box2 .need_small{
    margin-top: -90px;
}

.need_box3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.need_box3 .need_small2 h4{
    color: white;
}

.need_box3 .btn_box{
    width: 400px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    
}

.need_box3 .btn_box button{
    background-color: black;
    padding: 10px 25px;
    margin-left: 320px;
    border-radius: 20px;
}

@media(max-width:1160px){
    .container{
        width: 1040px;
    }
}


@media(max-width:1060px){
    .container{
        width: 940px;
    }

    .navbar .container .navbar_box .navbar_list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
    }

    
.navbar .container .navbar_box .navbar_list .navbar_item2 button{
    padding: 5px 10px;
    border-radius: 10px;
 
}

@media(max-width:960px){
    .container{
        width: 840px;
    }
}


@media(max-width:860px){
    .container{
        width: 740px;
    }
 
    .navbar .container .navbar_box .navbar_list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
    }

    .navbar .container .navbar_box{
        display: flex;
        align-items: center;
    }

    .navbar .container .navbar_box .navbar_list{
        display:flex;

        width: 450px;
        flex-direction: column;

}

@media(max-width:760px){
    .container{
        width: 640px;
    }

}


@media(max-width:660px){
    .container{
        width: 540px;
    }

}

@media(max-width:560px){
    .container{
        width: 440px;
    }

    .navbar .container .navbar_box h3{
        text-align: center;
    }

    .navbar .container .navbar_box{
    display: block;
    
    }
}


@media(max-width:460px){
    .container{
        width:100%;
    }
 
    .navbar .container .navbar_box .navbar_list{
        display:none;
    }
}

