*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

.navbar{
    background-color: black;
    padding: 20px 0;
}

.navbar .container .navbar_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container .navbar_box .navbar_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.navbar .container .navbar_box .navbar_list .navbar_item p{
    color: white;
}

.navbar_box h3{
    color: white;
}

.navbar .container .navbar_box .navbar_list .navbar_item2 button{
    padding: 10px 20px;
    border-radius: 10px;
}

.studio{
    background-image: url('./IMAGE\ \(82\).png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 200px;

}

.studio .container .studio_box{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-top: 400px;
}

.studio .container .studio_box h5,h2,p{
    color: white;
    text-align: center;
    padding-top: 20px;
}

.what{
  background-color: black;

}

.what .container .what_text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.what .container .what_text h3,p{
    color: white;
}

.what .container .what_box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right:auto ;
    padding-bottom: 40px;
}

.what .container .what_box img{
    width: 550px;
    height: 650px;
}

.what .container .what_box .small_box1{
    position: absolute;
    width: 350px;
    top: 70%;
    left: 3%;
}

.what .container .what_box .small_box1 h5, .what_text{
    color: white;
}

.what .container .what_box .small_box1 button{
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 10px;
}

.what .container .what_box .small_box2 button{
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 10px;
}

.what .container .what_box img{
    width: 550px;
    height: 650px;
}

.what .container .what_box .small_box2{
    position: absolute;
    width: 350px;
    top: 70%;
    left: 57%;
}

.what .container .what_box .small_box2 h5, .what_text{
    color: white;
}
