*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

.navbar{
    background-color: black;
    padding: 20px 0;
}

.navbar .container .navbar_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container .navbar_box .navbar_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.navbar .container .navbar_box .navbar_list .navbar_item p{
    color: white;
}

.navbar_box h3{
    color: white;
}

.navbar .container .navbar_box .navbar_list .navbar_item2 button{
    padding: 10px 20px;
    border-radius: 10px;
}

.studio{
    background-image: url('./IMAGE\ \(82\).png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 500px;

}

.studio .container .studio_box{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-top: 400px;
}

.studio .container .studio_box h5,h2,p{
    color: white;
    text-align: center;
    padding-top: 20px;
}


